.references-page-content {
  display: block;
  justify-content: center;
}

.references-page-comment-container {
  width: auto;
  max-width: 1000px;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.references-page-quote-icon {
  color: #343434;
  margin: 40px;
  height: 80px;
}

.references-page-comments-list-container {
  display: block;
  justify-content: center;
  align-items: center;
}

.references-page-header-container {
  display: flex;
  justify-content: space-between;
}

.references-page-header {
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.references-page-header-link {
  color: white;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.references-page-quote-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin-right: 50px;
}

.p-small-strong {
  color: #343434;
  letter-spacing: 1px;
}

.no-comments-placeholder-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #343434;
  padding: 2rem;
}

.no-comments-prompt {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 60%;
  display: block;
  align-self: center;
  text-align: center;
}

.references-page-comment-item {
  display: flex;
  justify-content: center;
  background: white;
  padding: 20px 50px 20px 50px;
  border-radius: 10px;
  margin: 0px 0px 20px 0px;
}

.rejection-message {
  align-self: center;
}

@media (max-width: 768px) {
  .references-page-header-container {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .references-page-comment-item {
    display: block;
    padding: 20px 40px 20px 40px;
  }
  .references-page-quote-icon-container {
    width: 100%;
    margin-right: 0px;
  }
  .references-page-comment-container {
    text-align: center;
  }
  .references-page-content {
    min-width: 300px;
  }
  .no-comments-placeholder-container {
    padding: 20px;
    height: 350px;
  }
  .no-comments-prompt {
    width: 80%;
  }
}
